git+https://github.com/iMaBoLi/Telethon
Tgcrypto
redis
psycopg2
requests
redis
aiofiles
PyGithub
aiocron
Pillow
googletrans==3.1.0a0
speedtest-cli
psutil
instagrapi
cowpy
selenium
setuptools
ShazamAPI
yt_dlp
bs4
