Telethon
Tgcrypto
requests
redis
opencv-python
pillow
moviepy
selenium
openai
somnium
aiofiles
setuptools
PyGithub
bs4
yt-dlp
youtube-search-python
aiocron
wikipedia
fake_useragent
googletrans==3.1.0a0
cairosvg
image_slicer