gunicorn

Telethon
tgcrypto
requests
redis
opencv-python
pillow
moviepy
openai
somnium
aiofiles
setuptools
PyGithub
wikipedia
aiocron
bs4
image_slicer
jdatetime
httpx[http2]
countryinfo
music_tag

git+https://github.com/sandy1709/py-googletrans
git+https://github.com/alexmercerind/youtube-search-python
git+https://github.com/yt-dlp/yt-dlp